body {
  background-color: rgb(245, 245, 220);
  color: rgb(51, 51, 51);
  font-family: arial;
  margin: 0px;
}
main {
  margin: 10px 20px 56px;
}
header {
  background-color: rgb(51, 51, 102);
  color: white;
  padding: 10px;
  font-size: 16px;
  text-align: left;
}
footer {
  background-color: rgb(51, 51, 102);
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}
div.menu {
  border: 7px solid rgba(51, 51, 102, 0.8);
  border-radius: 10px;
  width: 250px;
  margin: 0 auto;
  transition: 1s 1s;
}
div.menu:hover {
  box-shadow: 0 0 30px rgba(127, 0, 255, 0.8);
  transition: 1s 0s;
}
h1 {
  color: rgb(51, 51, 102);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px 20%;
}

a {
  text-decoration: none;
  transition: 1s 2s;
}
a:link {
  color: rgb(51, 51, 102);
}
a:visited {
  color: blueviolet;
  opacity: 0.5;
}
a:hover {
  color: rgb(170, 85, 250);
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgb(170, 85, 250);
  transition: 0.3s;
}
a:active {
  color: black;
  opacity: 0.7;
}
