body {
    background-color: rgb(245, 245, 220);
    color: rgb(51, 51, 51);
    font-family: arial;
    margin: 0px;
}
header, footer {
    background-color: rgb(51, 51, 102);
    color: white;
  }
  
  h1 {
    color: rgb(51, 51, 102);
  }
  a {
    text-decoration: none;
  }
  